snippet met
public function ${1:method}(${2:params})
{
	${0:/* code */}
}
endsnippet

snippet pmet
protected function ${1:method}(${2:params})
{
	${0:/* code */}
}
endsnippet

snippet smet
public static function ${1:method}(${2:params})
{
	${0:/* code */}
}
endsnippet

snippet __c
public static function __construct(${0:params})
{
	${1:// ...}
}
endsnippet

snippet dd
die(var_dump($${0:var}));
endsnippet

